* {
  margin: 0;
  padding: 0;
}
.red {
  color: rgb(255, 102, 255);
}

.yo {
  color: rgb(204, 0, 204);
}
body {
  background-image: linear-gradient(#ff00b3, #ffffff) !important;
}
.navbar {
  background-color: #f199d7 !important;
}
